body{
    margin: 0;
    padding: 0;
    background-color: white;
}


#valor1, #odd1, #odd2, #valorZero, #odd0, #odd02{
    display: none;
}

#valor2, #apostar0{
    background-color: white;
    padding: 2.25px;
    margin-left: 5px;
    margin-top: -10px;
    display: inline-block;
    width: 90px;
    color: black;
    border-radius: 20px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;

}

header{
    background-color: rgb(235, 135, 35);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
    border-bottom: 2px solid black;
    
}

#icon{
    width: 150px;
    float: left;
    margin-top: -10px;
    margin-left: -12px;
    
}

h3{
    font-weight: 500;
    margin-left: 2%;
}

h5{
    margin-left: 2%;
    letter-spacing: 1px;
    font-weight: 100;
}
.conteiner{

    border:2px solid black;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    font-size: 0.9em;
    font-family: Montserrat,sans-serif;
    margin-top: 20px;
    background: linear-gradient(90deg,rgb(76, 129, 27),rgb(18, 85, 29),#143d0b);;
    color: white;
    box-shadow: 5px 5px rgb(78, 78, 78);
}
#calcs{
    margin-top: 100px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.c1{
    flex-grow: 1;
    width: 100px;
    
}
.c2{
    width: 80px;
    text-align: center;
}
.c3{
    width: 120px;
    text-align: center;
}

#aposta1, #aposta2, #apostaZero, #zero{

    margin-left: 2%;
}

#result, #backg{
    
    background-color: white;
    border-radius: 5px
}


input{
    padding: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
    width: 90px;
    margin-top: -10px;
    font-family: Montserrat,sans-serif;
    border-radius: 20px;
    font-size: 0.9em;
}

#profit, #space{
    padding-top: 20px;
    margin-bottom: 10px;
    margin-left: 4px;
}

#prob, #prob1, #profit0{
    font-size: 1em;
}


.probability, .probability0, .gain{
    display: inline-block;
}

.p1{
    margin-top: 45px;
}
.p2, .g2{
    margin-top: 62px;
}

.g1{
    margin-top: 42px;
    font-weight: 800;
}

.boxText{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    width: 1200px;
    margin-top: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.text{
    background-color:  rgb(238, 238, 238) ;
    
    margin-top: 30px;
    font-size: 1em;
    border-radius: 50px;
    margin-bottom: 50px; 
    flex-shrink: 1;
    text-align: justify;
    font-family: Montserrat, sans-serif;
    padding: 20px;
}

.groupImg{
    text-align: center;
}

#calculadora{
    width: 150px;
    height: 150px;
    padding: 30px;
    margin-top: 15px;
    float: left;
}
.ex{
    padding: 20px;
    border-radius: 30px;
}

#proibido{
    width: 30px;
}

footer{

    font-size: 1.1em;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

@media screen and (max-width: 620px){

    .conteiner{
        width: 98%;
        font-size: 0.9em;
        margin-right: -4;
    }

    h1{
        font-size: 1.6em;
    }

    .boxText{
        width: 96%;
        
    }

    .ex{
        width: 350px;
        padding: 5px;

    }

    input{
        font-size: 0.9em;
    }

    #prob, #prob1, #profit0{
        font-size: 0.9em;
    }

    .p1{
        margin-top: 47px;
    }
    .p2, .g2{
        margin-top: 62px;
    }
    
    .g1{
        margin-top: 43px;
        font-weight: 800;
    }

    .text{
        font-size: 0.9em;
    }

    #calculadora{
        padding: 10px;
        width: 120px;
        height: 120px;
    }

    input{
        width: 60px;
    }

    #valor2, #apostar0{
        width: 63.5px;
    }

    .c1{
        width: 90px;
    }
    .c2{
        width: 50px;
    }
    .c3{
        width: 90px;
    }

}

















